html {
		font-family: 'Anton', helvetica, sans-serif;
		/*font-family: 'Pathway Gothic One', helvetica, sans-serif;*/
		font-weight: bold;
}

body {
	background-image: url(../img/sbahn.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
}

h1 {
	font-size: 10rem;
	padding: 7% 20% 12% 20%; 
	text-align: center;
}

h2 {
	font-size: 8rem;
	text-align: center;
	padding-bottom: 1%
}

h3 {
	font-size: 2.9rem;
	text-align: center;
	padding-bottom: 3%;
}

h4 {
	font-size: 2.8rem;
	text-align: center;
	padding: 1.5% 0% 1.5% 0%;
}

.header-border {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #555;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
}
.header {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #888;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
}

.contact-button {
	padding: 24px 24px 24px 24px;
	font-family: helvetica, sans-serif;
	text-align: center;
	background-color: #FF5B00;
	color:white;
	text-decoration: none;
	justify-content: flex-end;
}

.contact-button:hover {
	padding: 24px 24px 24px 24px;
	font-family: helvetica, sans-serif;	
	text-align: center;
	background-color: #102166;
	color:white;
	text-decoration: none;
}